<div class="container-fluid">
    <div class="row deplacer">
        <br>
    <div class="col-md-3 mx-auto" style="width: 200px;">
        <br>
        <a class="navbar-brand" href="#" >
            <img src="../../../assets/imagelavemain.jpg"  alt="Avatar" height="150px" style="width:150px" alt="">
        </a>
        <br>
      <p class="textalignement">  Lavez vous regulierements les <br> mains  avec de l’eau et du savon. </p>
    </div>
    
    <div class="col-md-3 mx-auto" style="width: 200px;">
        <br>
        <a class="navbar-brand" href="#" >
            <img src="../../../assets/toussez.jpg"  alt="Avatar"  height="150px" alt="" style="width:150px">
        </a>
        <br>
        <p class="textalignement">   
            Tousser dans le pli     de votre coude. </p>

    </div>
    
    <div class="col-md-3 mx-auto" style="width: 200px;">
        <br>
        <a class="navbar-brand" href="#" >
            <img src="../../../assets/mouch.jpg"  alt="Avatar" height="150px" alt="" style="width:150px">
        </a>
        <br>

        <p class="textalignement">  utilisez des mouchoirs a papiers  <br> et jetez les dans une poubelle fermée
        </p>

    </div>
   
    <div class="col-md-3 mx-auto" style="width: 200px;">
        <br>
        <a class="navbar-brand" href="#" >
            <img src="../../../assets/maison.png" alt="Avatar" height="150px"  alt="" style="width:200px">
        </a>
        <br>
        <p class="textalignement">  Restez chez vous
        </p>

    </div>
    
</div>
</div>
