<app-menu></app-menu>
<div class="container-fluid  ">
    <div class="row  ">
        <div class="col-md-12 text-white backimage ">
            <br>

            <div class="row ">


                <figure class="circle">
                </figure>


                <div class="text">Sʼinformer sur les nombres de cas et les zones ou le virus est presente</div>

                <figure class="circle">
                </figure>


            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <br><br>
                    <div class="input-group flex-nowrap ">
                        <div class="input-group-prepend ">
                          <span class="input-group-text rounded-pill" id="addon-wrapping">
                            <figure class="circle">
                            </figure>
                          </span>
                        </div>
                        <input type="text" class="form-control rounded-pill" placeholder="tape a city" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                </div>

            </div>

        </div>

    </div>

</div>