

.color{
    background-color: rgba(255, 0, 0, .5);
    
}
.backimage{
    opacity: 0.9 !important;
    background-image: url("../../assets/img1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
 /* border-radius: 20px; */
    /* background-color:#ac1b27 ; */
    /* background: #ca656d; */
    /* color: #ac1b27; */
    box-shadow: 4px 1px 1px white;
    /* width: 1000px;
    height: 1000px; */
    outline-color: transparent !important;
    background-position:0% 100%;
    /* background-attachment: fixed; */
    background-color: lightsteelblue;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 620px;
    margin-left: 10px;
    
    background-size: cover;
    background-color: lightcoral;
   
    /* outline-color: transparent !important;
  
    bottom: 100%; */
    

}
text{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    padding-right: 20px;

}
.form{
    border-radius: 25px;
    color: #ffffff;
    background: #e3b1b5;
    height: 300px;
 
}

    .circle {
        float: left;
        display: block;
        background: #ffffff;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
      }
      .text{
          text-align: left;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 25px;
          font-weight: bold;
          font-style: oblique;
      }

      .trait{
          color: #ffffff;
          background: #ffffff;
          font-weight: bold;
          font-size: 30px;

      }

img {
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    @media screen and (orientation: portrait) {
    .plot {
    width: 80vw !important;
    height: 45vh !important;
          }
    }
    @media screen and (orientation: landscape) {
    .plot {
    width: 80vw !important;
    height: 70vh !important;
          }
    }

    /* pour le side bar */
    
  .vertical-menu {
    width: 100%; /* Set a width if you like */
  }

  .vertical-menu a {
    background-color: #e3b1b5;     
    color: hsl(0, 0%, 100%);; /* Grey background color */
   
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    /* margin-bottom: 100px; */
  }

  .vertical-menu a:hover {
    background-color: #c5d6f7; /* Dark grey background on mouse-over */
  }
  .color_menu_3{
    background-color: #e5e6e8;
    border-bottom: 1px solid #e1e8ed;
    height: 48px;
}
  .vertical-menu a.active {
    background-color:#e3b1b5 ;
    color: hsl(0, 0%, 100%);
    /* margin-bottom: 100px; */
  }
  .dashboard_form {
    margin-top: 15px;
    margin-bottom: 100px;
    border-radius: 6px;
    box-shadow: 0 0 8px #ccc;
    border-top-left-radius: 0;
    background-color: #e3b1b5;
    color: hsl(0, 0%, 100%);;
    border-bottom: 1px solid #e1e8ed;

}
/* #2baacd

#e3b1b5 */
