<app-menu></app-menu>
<div class="container-fluid  ">
  <div class="row  backimage">
    <div class="col-md-12 text-white color ">
      <br>

      <div class="row ">


        <figure class="circle">
        </figure>


        <div class="text">Sʼinformer sur les nombres de cas et les zones ou le virus est presente</div>

        <figure class="circle">
        </figure>


      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <br><br>
          <div class="input-group flex-nowrap ">
            <div class="input-group-prepend ">
              <span class="input-group-text rounded-pill" id="addon-wrapping">
                <figure class="circle">
                </figure>
              </span>
            </div>
            <input type="text" class="form-control rounded-pill" placeholder="tape a city" aria-label="Username"
              aria-describedby="addon-wrapping">
          </div>
          <!-- le side bar  -->
          <nav class=" navbar navbar-expand-lg navbar-light vertical-menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="col-md-12 dashboard_form" id="navbarSupportedContent">
        
                <!--   
              <br>
                <a href="#"  data-toggle="collapse" href="#collapseExample"  class="active text-white"routerLink="/admin">Visualisation</a>
                <a href="#" id="collapseExample" class="text-white collapse" routerLink="/categories">Categories</a>
                <a href="#" class="text-white"  routerLink="/addarticles">Articles</a>
                <a href="#" class="text-white" routerLink="/admin-client">Client</a>
                <a href="#" class="text-white" routerLink="/commande-admin">Commande</a>
                <a href="#" class="text-white" routerLink="/livraison">Livraison</a> -->
                <br>
                <p>
                    <br>
                    <a class=" active text-white btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample" (click)="showvisualisation()">
                        Visualisation
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Button with data-target
                    </button> -->
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body" *ngIf= "this.showGraph">
                        <!-- <button type="button" class="btn btn-outline-primary">Nationale</button>
                        <button type="button" data-toggle="modal" data-target="#exampleModal"
                            class="btn btn-outline-secondary">Regionale</button> -->
                        <!-- <button type="button" data-toggle="modal" data-target="#exampleModal"
                            class="btn btn-outline-primary rounded" (click)="getCaseConfirmes()">Cas Confirmés</button>
        
                        <button type="button" data-toggle="modal" data-target="#exampleModal"
                            class="btn btn-outline-success rounded">Cas Importés</button>
                        <button type="button" data-toggle="modal" data-target="#exampleModal"
                            class="btn btn-outline-warning rounded">Cas Contacts</button>
                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-danger">Cas
                            Communautaires</button> -->
                        <div class="row">
                            <div class="col-md-6">
                                <label for="validationDefault01" class="text-dark">Date Début</label>
                                <input type="date" class="form-control" id="validationDefault01" placeholder=" date de début"
                                    required [(ngModel)]="this.date.dateDebut" name="dateDebut">
                            </div>
                            <div class="col-md-6">
                                <label for="validationDefault02" class="text-dark">Date Fin</label>
                                <input type="date" class="form-control" id="validationDefault02" placeholder="date de fin"
                                    required [(ngModel)]="this.date.dateFin" name="dateFin" placeholder="date de fin">
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                        [(ngModel)]="this.choice.confirmes" [value]="1">
                                    <label class="custom-control-label text-dark" for="customSwitch1">Confirmés</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2"
                                        [(ngModel)]="this.choice.contact" [value]="1">
                                    <label class="custom-control-label text-dark" for="customSwitch2">Contacts</label>
                                </div>
                            </div>
                        </div>
                        <br>
        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3"
                                        [(ngModel)]="this.choice.communautaire" [value]="1">
                                    <label class="custom-control-label text-dark" for="customSwitch3">Communautaire</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch4"
                                        [(ngModel)]="this.choice.importes" [value]="1">
                                    <label class="custom-control-label text-dark" for="customSwitch4">Importés</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch5"
                                        [(ngModel)]="this.choice.recovered" [value]="1">
                                    <label class="custom-control-label text-dark" for="customSwitch5">Recovered</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch6"
                                        [(ngModel)]="this.choice.dead" [value]="1">
                                    <label class="custom-control-label text-dark" for="customSwitch6">Dead</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="button"    class="  btn btn-outline-secondary rounded" (click)="get_choice()"
                            href="">Envoyer</button>
        
        
                        <!-- [(ngModel)]="this.articles.available" [value]="1" -->
                        <!-- <div class="custom-control custom-switch col-m-3">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label text-dark" for="customSwitch2">Importés</label>
                              </div> -->
        
                    </div>
                </div>
                <br>
                <p>
                    <br>
                    <a class=" active text-white btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Prevision
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Button with data-target
                    </button> -->
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        <button type="button" class="btn btn-outline-primary">Nationale</button>
                        <button type="button" class="btn btn-outline-secondary">Regionale</button> </div>
                </div>
                <br>
                <p>
                    <br>
                    <a class=" active text-white btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Comparaison avec d'autres pays
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Button with data-target
                    </button> -->
                </p>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <button type="button" class="btn btn-outline-primary">Nationale</button>
                        <button type="button" class="btn btn-outline-secondary">Regionale</button> </div>
                </div>
        
        
        
            </div>
        </nav>
          <!-- <app-sidebar></app-sidebar> -->
          <!-- fin side bar -->
        </div>

        <div class="col-md-7">
          <br><br>
          <div id="Graph" #Graph>

          </div>
          <!-- <img class="img-fluid"  [src]="this.image"> -->


          <!-- <div  id = "tester" class="row">
                      <div class="col-md-6 offset-md-3">
                          <script>
                              TESTER = document.getElementById('tester');
                              
                          Plotly.plot('tester',{{this.image | safe}},{});
                              
                          </script>
                      </div>
                    </div> -->
          <!-- <form class="form text">
                        <br>
                        <h2 class="text text-center text-danger"> 226 Cas declarés positiifs </h2>
                        <hr class="text-white trait">
                        
                        <h2 class="text text-center text-success"> 226 Cas declarés guéris </h2>
                        <hr class="text-white trait">
                        
                        <h2 class="text text-center  text"> 22 Cas   Sous traitements  </h2>
                        <hr class="text-white trait">
                        <h2 class="text text-center"> Morts </h2>
                        <hr class="text-danger trait">
                        
                      </form> -->
          <br><br><br><br><br><br>
          <h1>Les mesures preventifs</h1>
        </div>



      </div>

    </div>

  </div>





</div>

<app-footer></app-footer>



<div class="modal rounded-pill" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Veuillez l'intervalla de temps d'études</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col-md-6">
            <label for="validationDefault01">Date Début</label>
            <input type="date" class="form-control" id="validationDefault01" placeholder="entrez la date de début"
              required [(ngModel)]="this.date.dateDebut" name="dateDebut">
          </div>
          <div class="col-md-6">
            <label for="validationDefault02">Date Fin</label>
            <input type="date" class="form-control" id="validationDefault02" placeholder="entrez la date de fin"
              required [(ngModel)]="this.date.dateFin" name="dateFin">
          </div>
        </div>
        <br>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click) = "showGraph()">voir resultat</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-4  modal" id="exampleModal">
  <form >
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">First name</label>
        <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Last name</label>
        <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">City</label>
        <input type="text" class="form-control" id="validationDefault03" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>
        <select class="custom-select" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Zip</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div> -->