<app-menu></app-menu>
<div class="container-fluid  ">
    <div class="row  backimage">
        <div class="col-md-12 text-white color ">
            <br>

            <div class="row ">


                <figure class="circle">
                </figure>


                <div class="text">Sʼinformer sur les nombres de cas et les zones ou le virus est presente</div>

                <figure class="circle">
                </figure>


            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <br><br>
                    <div class="input-group flex-nowrap ">
                        <div class="input-group-prepend ">
                          <span class="input-group-text rounded-pill" id="addon-wrapping">
                            <figure class="circle">
                            </figure>
                          </span>
                        </div>
                        <input type="text" class="form-control rounded-pill" placeholder="tape a city" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                </div>
                <div class="col-md-4">
                     <br><br>
                    <form class="form text">
                        <br>
                        <h2 class="text text-center text-danger"> 226 Cas declarés positiifs </h2>
                        <hr class="text-white trait">
                        
                        <h2 class="text text-center text-success"> 226 Cas declarés guéris </h2>
                        <hr class="text-white trait">
                        
                        <h2 class="text text-center  text-primary"> 22 Cas   Sous traitements  </h2>
                        <hr class="text-white trait">
                        <h2 class="text text-center"> Morts </h2>
                        <hr class="text-danger trait">
                        
                      </form>
                </div>

            </div>

        </div>

    </div>

</div>