.color{
    color: #ffffff;

}
.numero{
color: #066838;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
margin-right: 90px;
}
.xeex{
    color: #be1e2d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
margin-right: 90px;
}