<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg  color ">
                <div class="col-md-3">
                    <a class="navbar-brand" href="#" >
                        <img src="../../../assets/imageministere.png" height="200px" alt="">
                    </a>

                </div>
                <div class="col-md-7">
                  <h1 class="text-center numero">
                      <br>
                      SAMU : 15 15 <br>
                      NV   :800 00 50 50
                  </h1>
                  <br><br><br>
                  <h1 class="xeex text-center">
                    AND XEXXX CORONAVIRUS SENEGAL
                  </h1>
                </div>
                <div class="col-md-2">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/updatee.PNG" height="200px" alt="">
                    </a>
                </div>
                
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"><span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"></a>
                    </li>
                  </ul>
                  <span class="navbar-text">
                 
                  </span>
                </div> -->
              </nav>
        </div>
    </div>
</div>