<nav class=" navbar navbar-expand-lg navbar-light vertical-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-md-12 dashboard_form" id="navbarSupportedContent">

        <!--   
      <br>
        <a href="#"  data-toggle="collapse" href="#collapseExample"  class="active text-white"routerLink="/admin">Visualisation</a>
        <a href="#" id="collapseExample" class="text-white collapse" routerLink="/categories">Categories</a>
        <a href="#" class="text-white"  routerLink="/addarticles">Articles</a>
        <a href="#" class="text-white" routerLink="/admin-client">Client</a>
        <a href="#" class="text-white" routerLink="/commande-admin">Commande</a>
        <a href="#" class="text-white" routerLink="/livraison">Livraison</a> -->
        <br>
        <p>
            <br>
            <a class=" active text-white btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Visualisation
            </a>
            <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button> -->
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card row  card-body">
                <!-- <button type="button" class="btn btn-outline-primary">Nationale</button>
                <button type="button" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-outline-secondary">Regionale</button> -->
                <button type="button" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-outline-primary rounded">Cas Confirmés</button>

                <button type="button" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-outline-success rounded">Cas Importés</button>
                <button type="button" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-outline-warning rounded">Cas Contacts</button>
                <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-danger">Cas
                    Communautaires</button>
            </div>
        </div>
        <br>
        <p>
            <br>
            <a class=" active text-white btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Prevision
            </a>
            <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button> -->
        </p>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <button type="button" class="btn btn-outline-primary">Nationale</button>
                <button type="button" class="btn btn-outline-secondary">Regionale</button> </div>
        </div>
        <br>
        <p>
            <br>
            <a class=" active text-white btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Comparaison avec d'autres pays
            </a>
            <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button> -->
        </p>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                <button type="button" class="btn btn-outline-primary">Nationale</button>
                <button type="button" class="btn btn-outline-secondary">Regionale</button> </div>
        </div>



    </div>
</nav>